<div ng-controller="AdminController">
  <button type="button" ng-click="addList()">
    Add List
  </button>
</div>

<div ng-controller="ListController">
  <div ng-repeat="list in lists()">
    <button type="button" ng-click="delete(list)">
      Remove
    </button>

    Input your name: <input type="text" ng-model="list.name"><br/>
    <p ng-show="list.name">
      Name: <span ng-class="{ red: list.name.length > 5, big: list.name.length > 5 }">{{ list.name }}</span>
    </p>
  </div>
</div>

<hr/>

<div ng-controller="ListController">
  <div ng-repeat="list in lists()">
    Name: {{ list.name }}
  </div>
</div>

<style>
  .red {
    color: #FF0000;
  }

  .big {
    font-weight: strong;
    font-size: 2em;
  }
</style>