<div ng-controller="KittyController">
  <button type="button" ng-click="addList()">
    Add List
  </button>

  <hr/>

  <div ng-repeat="list in lists">
    List name: <input type="text" ng-model="list.name"><br/>

    <div ng-show="!list.newRecord">
      Task: <input type="text" ng-model="list.newTask">
      <button type="button" ng-click="addTask(list)">
        Add Task
      </button>
    </div>
    Tasks:<br/>

    <p ng-repeat="task in list.tasks">
      <span ng-class="{ done: task.done }">{{ task.description }}</span>

      <button type="button" ng-click="finishTask(task)" ng-show="!task.done">
        Done
      </button>

      <button type="button" ng-click="undoneTask(task)" ng-show="task.done">
        Undone
      </button>
    </p>

    <br/>

    <button type="button" ng-click="save(list)">
      Save List
    </button>

    <button type="button" ng-click="delete(list)">
      Delete List
    </button>
    <hr />
  </div>
</div>
