<%= javascript_include_tag 'data_driven' %>

Example na

<button type="button" class="hello-btn" data-type="human" data-name="Patthana">
  Human
</button>

<button type="button" class="hello-btn" data-type="human" data-name="James">
  Human
</button>

<button type="button" class="hello-btn" data-type="human" data-name="Jira S.">
  Human
</button>

<button type="button" class="hello-btn" data-type="dog" data-name="Doggy">
  Dog
</button>

<button type="button" class="hello-btn" data-type="first">
  First
</button>

<button type="button" class="hello-btn" data-type="pizza" data-topping="Hawaiian">
  Hawaiian Pizza
</button>
