<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span ng-hide="listTitleEditMode">
        {{ list.name }}
      </span>

      <input type="text" ng-model="list.name" ng-show="listTitleEditMode" ng-enter="updateListTitle()">
      &nbsp;&nbsp;
      <a href="javascript:void(0)" ng-click="enableListTitleEditMode()" ng-hide="listTitleEditMode">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </a>
    </div>

    <div class="panel-body">
      <label class="control-label">
        Add Task:
      </label>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Task description..." ng-model="taskDescription" ng-enter="addTask()">

        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="addTask()">
            Go!
          </button>
        </span>
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="task in list.tasks | orderBy:'done'">
        <span ng-class="{ done: task.done }">{{ task.description }}</span>

        <button type="button" ng-click="finish(task)" ng-show="!task.done">
          Done
        </button>

        <button type="button" ng-click="undone(task)" ng-show="task.done">
          Undone
        </button>
      </li>
    </ul>
  </div>
</div>
